{% with followers=person.followers.all followings=person.followings.all %}
    <div class='row d-flex flex-nowrap mt-2 mr-5'>
        <h5 class="text-white"><p class='d-inline-block mr-2'>게시물</p> {{ person.review_set.all|length }}</h5>
        <h5 class="text-white"><p class='d-inline-block mx-3'>팔로워</p> {{ followers|length }}</h5>
        <h5 class="text-white"><p class='d-inline-block mx-3'>팔로우</p> {{ followings|length }}</h5>
    </div>
    <div class='row mb-3'>
        {% if request.user != person %}
            <form action="{% url 'accounts:follow' person.pk %}" method='POST'>
                {% csrf_token %}
                {% if request.user in followers %}
                    <button class="btn btn-outline-secondary btn-sm">언팔로우</button>
                {% else %}
                    <button class="btn btn-secondary btn-sm">팔로우</button>
                {% endif %}
            </form>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'accounts:update' %}">수정</a>
        {% endif %}
    </div>
    

{% endwith %}
